[Unit]
Description=super-daemon service for supercomputer
After=boot-complete.target
Wants=boot-complete.target

[Service]
Type=simple
User=root
ExecStart=/opt/sc/boot.sh
#Restart=always

[Install]
WantedBy=multi-user.target
